<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">Dashboard</a></li>
                {{#if logged_in}}
                <li><a href="#experience">Logout</a></li>
                {{#else}}
                <li><a href="#about">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <body>
       {{{body}}}
        
        <script src="" async defer></script>
    </body>
</html>